<script>
    function initReact() {
        {% for component in components %}
            ReactDOM.{{ ssr_available|yesno:"hydrate,render" }}(
                React.createElement({{ component.name }},
                    {% if component.json %}
                        {{ component.json|safe }}
                    {% else %}
                        null
                    {% endif %}),
                (document.getElementById('{{ component.identifier }}').firstChild
                || document.getElementById('{{ component.identifier }}'))
            );
        {% endfor %}
    }

    {% if SETTINGS.REACT_DEVSERVER %}
        document.getElementById("fontend-devserver").onload = initReact;
    {% else %}
        initReact();
    {% endif %}
</script>
